
/*
First bunch is mostly the CSS for the Cornell taking method.
*/
.free{
width:100vw;
height:100vh;
}
.container{
    display:flex;
    justify-content: space-around;
    padding-top: 10vh;
    padding-bottom:0.5vh;
    width:100%;
}
.special{
    border: none;
    border-radius:0.5vh;
    color: black;
    background-color: #05eb37;
}
.special:hover{
    background-color:rgba(8, 228, 0, 0.507);
}

.entry {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 60vh;
    margin: 0 auto; /* Add this line */
    flex-wrap:wrap;
}
.containersum{
    display: flex;
    justify-content: center;
    padding-top:0;
    width:100vw;
    height:40vh;

}
.containertitle{
    display:flex;
    justify-content: center;
    padding-top:10vh;
    width:100vw;
    height:10vh;
}
#main {
    flex: 3;
}
#questions {
    flex: 1;
}
#summary {
    flex: 1;
}
#title{
   flex:1; 
}


/*
Outline taking method
*/

.mainideacontainer{

    display:flex;
    justify-content: center;
      padding:0;
    }
    .subideacontainer{
      display:flex;
      justify-content: center;
      /* flex-direction:column; */
      padding:0;
    }
    .detailscontainer{
      display:flex;
      padding:0;
    
    }
    #mainidea{
      font-weight: bold;
      font-size: 45px;
      width:100vw;
      height:5vh;
      border-bottom:none;
    }
    
    #subideabarrier{
      width:100%;
    flex:1;
    }
    #subideas{
      border-top:none;
      border-bottom:none;
      border-left:none;
      flex:5;
      width:80vw;
      height:30vh;
      font-size:30px;
    }
    #detailsbarrier{
    flex:2;
    }
    #details{
      border-top:none;
      border-left:none;
      flex:5;
      width:80vw;
      height:50vh;
      font-size:10px;
    }